.container {
  display: grid;
}

body {
  color: black;
}

.members-count,
.members-list,
.messages {
  border: 1px solid #e4e4e4;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  margin: 0;
}

.messages {
  display: block;
  /*flex-shrink: 1;*/
  border: none;
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  overflow-x: wrap;
  border-spacing: 0px;
  height: 20vh;
  background-color: black;
}

.message {
  padding-top: 0px;
  font-size: 12px;
  margin: 0;
  background-color: transparent;
  border: none;
}

.message .member {
  display: inline-block;
  margin: 0;
  border: none;
}

.member {
  padding-right: 10px;
  padding-left: 5px;
  position: relative;
  margin: 0;
}

.message-form {
  display: flex;
  flex-shrink: 0;
}

.message-form__input {
  flex-grow: 1;
  border: none;
  padding: 4px;
  font-size: 12px;
  size: 12px;
  height: 3.5vh;
  background-color: rgb(18, 31, 31);
  color: white;
}

.message-form__input:focus {
  border: 2px solid orangered;
}

.message-form__button {
  margin: 10px;
  font-size: 12px;
}

div {
  outline: 1px solid lightseagreen;
}

::placeholder {
  color: white;
}
