body {
  font-family: "Gill Sans", sans-serif;
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

.characterHeader {
  display: flex;
  justify-content: space-around;
  height: 115px;
}

.characterName {
  font-size: 2em;
  position: relative;
  font-family: MedievalSharp, cursive;
  width: 60%;
  height: 60%;
  top: 5%;
}

.characterInfo {
  position: relative;
  color: #454545;
}

.characterBanner {
  width: 400px;
}

.backgroundBanner {
  position: absolute;
  max-width: 30%;
  left: 1em;
}

.characterHeader > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.characterHeader > .skillSpace > div {
  margin-right: 20px;
}

.characterHeader > .keyValues > div {
  margin-right: 20px;
}

.skillLevel {
  display: flex;
  justify-content: center;
  position: relative;
  top: 14px;
}

.skillBonus {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}
.skillBlock {
  width: 75px;
}

.skillPlac {
  width: 75px;
}

.skillBackground {
  position: absolute;
  max-width: 75px;
  top: 68px;
}

#strengthBonus,
#dexBonus,
#constBonus,
#intBonus,
#wisBonus,
#charBonus {
  width: 50%;
  height: 90%;
  padding: 0;
  top: 0.2em;
  font-size: 1em;
  text-align: center;
}

#strengthLevel,
#dexLevel,
#constLevel,
#intLevel,
#wisLevel,
#charLevel {
  padding: 0;
  height: 90%;
  line-height: 0.2em;
  width: 30%;
  font-size: small;
  text-align: center;
  bottom: 0.15em;
  font-weight: bold;
}

.valueBlock {
  width: 75px;
}

.valuesWrapper {
  width: 4.8em;
  text-align: center;
}

#hpBlock,
#acBlock {
  position: relative;
  bottom: 2em;
  right: 2em;
}

#otherValBlock {
  bottom: 0.5em;
  position: relative;
}

.valuesBlock {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.hpBackground {
  position: absolute;
  max-width: 75px;
}

.charHealthBlock,
.charACBlock {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 1.2em;
  position: relative;
  width: 80%;
}

.currentHP,
.currentMaxHP,
.currentAC {
  position: relative;
  justify-content: center;
  align-content: center;
  max-width: 1.2em;
  height: 1.2em;
  font-size: 1.2em;
}

#currentHP,
#currentMaxHP,
#currentAC {
  height: 100%;
  line-height: 0.2em;
  width: 100%;
  font-size: small;
  text-align: center;
  padding: 0;
  border-width: 1px;
}

#healthQ {
  font-size: 1.2em;
}

.acBackground {
  max-width: 70px;
  position: absolute;
}

.initiativeBlock,
.proficiencyBlock {
  position: relative;
  min-width: 75px;
}

.initiativeBackground,
.proficiencyBackground {
  position: absolute;
}

.proficiencyBackground {
  padding: 0.2em;
  padding-top: 0;
}
#initiativeBackground,
#proficiencyBackground {
  position: relative;
}

.charInitiativeBlock,
.charProficiencyBlock {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.charInitiative,
.charProficiency {
  position: relative;
  max-width: 1.5em;
  height: 1.2em;
  font-size: 1.2em;
}

#charInitiative,
#charProficiency {
  height: 90%;
  padding: 0;
  text-align: center;
  top: 0.2em;
}

.initLabel,
.profLabel {
  font-size: 0.6em;
  position: relative;
  font-weight: bold;
  top: 0.6em;
}

.speedBackground {
  position: absolute;
  min-width: 8em;
}

.speedBlock {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0.1em;
}

#speedBlock {
  display: flex;
  flex-direction: column;
}

.charSpeedBlock {
  position: relative;
  left: 2em;
}

.charSpeed {
  position: relative;
  max-width: 1.5em;
  font-size: 1.2em;
}

#charSpeed {
  height: 1.8em;
  top: 0.6em;
  left: 0.6em;
  padding: 0;
  text-align: center;
}

.hpBackground,
.acBackground {
  position: absolute;
  max-width: 75px;
}

.characterHealth,
.characterAC {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 5px;
  font-size: 1.2em;
}

.initiativeBlock {
  position: relative;
  font-size: 1.2em;
}

.proficiencyBlock {
  position: relative;
  font-size: 1.2em;
}

.initiativeBackground {
  position: absolute;
}

.proficiencyBackground {
  position: absolute;
  max-height: 31px;
}

.characterInitiative,
.characterProficiency {
  position: relative;
  justify-content: center;
  display: flex;
  font-size: 1.2em;
}

.initLabel,
.profLabel {
  position: relative;
  font-size: 0.6em;
  justify-content: center;
  display: flex;
  font-weight: bold;
}

.charSheetMiddleSection {
  display: flex;
  justify-content: space-around;
}

.leftColumn {
  justify-content: center;
  height: 40em;
  width: 25em;
}

.biographyBlock {
  display: flex;
  justify-content: center;
  height: max-content;
}

.bioBackground {
  position: absolute;
  max-width: 350px;
}

.bioTextBox {
  display: flex;
  justify-content: center;
  width: 20em;
  padding-top: 2em;
}

.textarea:not([rows]) {
  min-height: 7em;
}

#bioTextBox {
  background-color: transparent;
  font-size: 0.8em;
  resize: none;
  min-height: 25em;
}

.charDetailsBlock {
  display: flex;
  justify-content: center;
  height: max-content;
  padding-top: 4em;
}

.charDetailsBackground {
  position: absolute;
  max-width: 350px;
}

.detailsTextBox {
  display: flex;
  justify-content: center;
  width: 20em;
  padding-top: 2em;
}

#detailsTextBox {
  background-color: transparent;
  font-size: 0.8em;
  resize: none;
  min-height: 10.5em;
}

.middleColumn {
  width: 600px;
}

.middleBlockBackground {
  max-width: 600px;
  position: absolute;
}

.attacksNSpells {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.featuresBlock {
  padding: 2em;
}

.spellsBlock {
  width: 15em;
  min-width: 15em;
}

.attacksBlock {
  width: 15em;
  margin-left: 3em;
}

#spellsTextBox,
#attacksTextBox,
#featuresTextBox {
  background-color: transparent;
  font-size: 0.8em;
  resize: none;
  height: 9em;
}

.rightColumn {
  padding-left: 1em;
  width: 25em;
}

.rightBlockBackground {
  position: absolute;
  max-width: 350px;
  min-width: 350px;
}

.equippedBlock {
  padding: 2em;
  padding-right: 4em;
}

.inventoryBlock {
  padding: 2em;
  padding-right: 4em;
}

#equippedTextBox,
#inventoryTextBox {
  background-color: transparent;
  font-size: 0.8em;
  resize: none;
  min-width: 288px;
}

#equippedTextBox {
  height: 17em;
}

#inventoryTextBox {
  height: 22em;
}

/***************TEXT BOX STYLES***************/
#characterName {
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-size: 35px;
  min-height: 1em;
  max-width: 7em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  height: 1.5em;
  resize: none;
  overflow: hidden;
}

#characterRace {
  background-color: transparent;
  font-family: inherit;
  font-size: 0.9em;
  min-height: 1em;
  max-width: 7em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  height: 1.5em;
  resize: none;
  overflow: hidden;
}

#characterLevel {
  background-color: transparent;
  font-family: inherit;
  font-size: 0.8em;
  min-height: 1em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  height: 1.5em;
  resize: none;
  overflow: hidden;
}

/***************NAVBAR STYLES***************/
.navbar {
  color: white;
  background-color: #090809;
}

.navbar-item,
.navbar-link {
  color: white;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
  color: inherit;
}

.navbar-link:not(.is-arrowless)::after {
  /* border-color: #3273dc; */
  border-color: white;
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown {
    /* background-color: #fff; */
    /* border-bottom-left-radius: 6px; */
    /* border-bottom-right-radius: 6px; */
    /* border-top: 2px solid #dbdbdb; */
    background-color: #090809;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 2px solid #e40712;
  }
}

.navbar-dropdown {
  /* padding-bottom: .5rem; */
  /* padding-top: .5rem; */
  padding: 2px;
}

.navbar-dropdown a.navbar-item {
  padding-right: 5rem;
}

.navbar-dropdown a.navbar-item:focus,
.navbar-dropdown a.navbar-item:hover {
  background-color: #2b262b;
}

@media screen and (min-width: 1024px) {
  .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: transparent;
  }
}

.navbar-dropdown a.navbar-item:focus,
.navbar-dropdown a.navbar-item:hover {
  color: white;
  background-color: #2f1111;
}

.navbar.has-shadow {
  box-shadow: 0 2px 0 0 #e40712;
}
